<!doctype html>
<html>
<head>
  <title>Madlib Input</title>
</head>
<body>
    <form action="/madlib">
        Enter a person's name:
        <input type="text" name="person">
        <p>
        Pick a color:
        <select name="color">
            <option value="mauve">mauve</option>
            <option value="periwinkle">periwinkle</option>
            <option value="cerulean blue">cerulean blue</option>
            <option value="crimson">crimson</option>
            <option value="peach">peach</option>
            <option value="sunflower yellow">sunflower yellow</option>
            <option value="midnight black">midnight black</option>
        </select>
            <p>
        <p>
        <fieldset>
            <legend>Enter adjective(s):</legend>
            <div>
                <input type="checkbox" name="adjective" value="boring">boring
            </div>
            <div>
                <input type="checkbox" name="adjective" value="kind">kind
            </div>
            <div>
                <input type="checkbox" name="adjective" value="ugly">ugly
            </div>
            <div>
                <input type="checkbox" name="adjective" value="spastic">spastic
            </div>
            <div>
                <input type="checkbox" name="adjective" value="fast">fast
            </div>
        </fieldset>
        Enter some nouns:
        <input type="text" name="noun1">
        <input type="text" name="noun2">
        <input type="text" name="noun3">
        <input type="text" name="noun4">
        <input type="text" name="noun5">
        Enter some adjectives:
        <input type="text" name="adjective1">
        <input type="text" name="adjective2">
        <input type="text" name="adjective3">
        <input type="text" name="adjective4">
        <input type="text" name="adjective5">
        Enter a proper noun:
        <input type="text" name="propernoun1">
        <input type="text" name="propernoun2">
        Enter a plural noun:
        <input type="text" name="pluralnoun1">
        <input type="text" name="pluralnoun2">
        <input type="text" name="pluralnoun3">
        <input type="text" name="pluralnoun4">
        <input type="text" name="pluralnoun5">
        Enter a celebrity:
        <input type="text" name="celebrity1">
        <input type="text" name="celebrity2">
        Enter a type of liquid:
        <input type="text" name="liquid1">
        <input type="text" name="liquid2">
        Enter a number:
        <input type="text" name="num1">
        <input type="text" name="num2">
        <input type="text" name="num3">
        <input type="text" name="num4">
        <input type="text" name="num5">
        Enter an adjective that ends in -est:
        <input type="text" name="superad1">
        <input type="text" name="superad2">
        <input type="text" name="superad3">
        Enter some adverbs:
        <input type="text" name="adverb1">
        <input type="text" name="adverb2">
        <input type="text" name="adverb3">
        <input type="text" name="adverb4">
        <input type="text" name="adverb5">
        <p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>