<!doctype html>
<html>
<head>
  <title>Madlib Input</title>
</head>
<body>
    <form action="/madlib">
        Enter a person's name:
        <input type="text" name="person">
        Pick a color:
        <select name="color">
            <option value="mauve">mauve</option>
            <option value="periwinkle">periwinkle</option>
            <option value="cerulean blue">cerulean blue</option>
            <option value="crimson">crimson</option>
            <option value="peach">peach</option>
            <option value="sunflower yellow">sunflower yellow</option>
            <option value="midnight black">midnight black</option>
        Enter a noun:
        <input type="text" name="noun">
        Enter an adjective:
        <input type="text" name="noun">
        <input type="submit" value="Submit">
    </form>
</body>
</html>