{{ propernoun1 }} is one of America's 
{{ adjective1}}
institutions of 
{{ adjective2 }} learning. The student body is composed of 
{{ num1 }} males and 
{{ num2 }} The
{{ pluralnoun1 }} get the best grades. Students can eat lunch in
the 
{{ adjective3 }} cafeteria, which features boiled 
{{ noun1 }}
and 
{{ noun2 }} sandwiches, with all the 
{{ liquid }} they can
drink, for only 74 cents. The principal of the school, 
{{ celebrity1 }},
is raising money to build a new 
{{noun3 }} laboratory and a new
football 
{{ noun4 }}. Any student who goes to this school can
consider himself very 
{{ adjective4 }}.